<% provide :title, @user.name %>
<div class="col-md-4">
  <h1>Profile: </h1>
  <ul class ="list-group">
    <li class="list-group-item list-group-item-info">
      <% if @user.avatar.present? %>
        <div class="round-image-50">
          <%= image_tag(@user.avatar.url) %>
        </div>
      <% else %>
        <div class="round-image-50"><%= image_tag('default.jpg') %></div>
      <% end %>
    </li>
    <li class="list-group-item list-group-item-info">
      Name : <strong><%= @user.name%></strong>
    </li>
    <li class="list-group-item list-group-item-info">
      Email : <strong><%= @user.email%></strong>
    </li>
    <li class="list-group-item list-group-item-info">
      Date of join : <strong><%= @user.created_at %></strong>
    </li>
  </ul>
</div>


<div class="row">
  <div class="col-md-6">
    <h1>Result:</h1>
    <%= form_tag user_path(@user), method: "get", remote: true do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <div class="checkbox inline">
          <%= check_box_tag 'checked', 2, false %>
          Checked
        </div>
        <div class="checkbox inline">
          <%= check_box_tag 'uncheck', 1, false %>
          Not check yet
        </div>
        <%= submit_tag "Search by name of course" %>
      </p>
    <% end %>
    <div id="content">
      <% @exams.each do |exam| %>
        <%= exam.course.name %> |
        <% result = exam.result %>
        <% unless result.nil? %>
          Score: <%= result.score %>/<%= exam.course.questions.count %> |
          Date: <%= exam.updated_at %>
          <%= link_to 'View', exam_result_path(exam, result),
                                              class: "btn btn-xs btn-info" %>
          <%= link_to 'Export', exam_result_path(exam, result, format: :csv),
                                              class: "btn btn-xs btn-primary" %>
          <% if can? :destroy, exam %>
            <%= link_to 'Destroy', exam, class: "btn btn-xs btn-danger",
                      method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        <% end %></br>
      <% end %>
    </div>
  </div>
</div>