<% provide :title, @user.name %>
<div class="col-md-4">
  <ul class ="list-group">
    <li class="list-group-item list-group-item-info">
      <% if @user.avatar.present? %>
        <div class="round-image-50">
          <%= image_tag(@user.avatar.url) %>
        </div>
      <% else %>
        <div class="round-image-50"><%= image_tag('default.jpg') %></div>
      <% end %>
    </li>
    <li class="list-group-item list-group-item-info">
      Name : <strong><%= @user.name%></strong>
    </li>
    <li class="list-group-item list-group-item-info">
      Email : <strong><%= @user.email%></strong>
    </li>
    <li class="list-group-item list-group-item-info">
      Date of join : <strong><%= @user.created_at %></strong>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-8">
    <% @user.exams.checked_exams.each do |exam| %>
      <%= exam.course.name %> |
      <% result = exam.result %>
      <% unless result.nil? %>
        Score: <%= result.score %>/<%= exam.course.questions.count %> |
        <%= link_to 'View', exam_result_path(exam, result),
                                            class: "btn btn-xs btn-info" %>
        <%= link_to 'Export', exam_result_path(exam, result, format: :csv),
                                            class: "btn btn-xs btn-primary" %>
        <% if can? :destroy, exam %>
          <%= link_to 'Destroy', exam, class: "btn btn-xs btn-danger",
                    method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      <% end %></br>
    <% end %>
  </div>
</div>