<h1>Exams</h1>
<div class="row">
  <%= form_for Exam.new do |f| %>
    <div class="col-md-4">
      <% @courses.each do |course| %>
        <div class="checkbox inline">
          <%= f.check_box :course_id, {}, course.id, false %> <%= course.name %> <br />
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= f.hidden_field :status, value: 'not_check_yet' %>
      <%= f.submit "Submit" %>
    </div>
  <% end %>

  <div class="col-md-4"> 
    <% current_user.exams.not_check_yet.each do |exam| %>
      <% unless exam.course.nil? %>
        <%= exam.course.name %>
        <%= link_to 'start', exam_path(exam) %> </br>
      <% end %>
    <% end %>
  </div>
</div>
<h1>Result:</h1>
<%= form_tag exams_path, method: "get", remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <% {'Done' => 'checked_exams', 'Testing' => 'not_check_yet',
                                       'All' => 'all'}.each do |key, value| %>
      <%= "#{key}" %><%= radio_button_tag 'type', value %>
    <% end %>
    <%= submit_tag "Search by name of course" %>
  </p>
<% end %>
<div class="row">
  <div class="col-md-8">
    <div id="content">
      <%= render 'shared/result' %>
    </div>
  </div>
</div>
