<%= javascript_include_tag "time_countdown" %>
<div>
  <div style="float: right;position:fixed;top:55px;right:200px;">Time left: <span id="__exam_time"></span>
    <%= hidden_field_tag "__exam_time_value", @exam.course.time_limit %>
  </div>
</div>

<h1><%= @exam.course.name %></h1>
<%= form_for [@exam, result = Result.new] do |f| %>
  <% result.answers.build %>
  <div class="col-md-8">
    <% @exam.course.questions.each_with_index do |question, index| %>
      <%= f.fields_for :answers do |builder| %>
        <%= builder.hidden_field :question_id, value: question.id %>
        <b><%= "Question #{index+1}." %></b> <%= question.content %>
        <% if question.type_question == "choice_question" %>
          <% question.options.each do |option| %>
            <div class='radio'>              
              <%= builder.radio_button :option_id, option.id %>
              <%= builder.label :option_id, option.content %>
            </div>
          <% end %>
        <% else %>
          <div class="field">
            <%= builder.label :content, "Answer" %><br>
            <%= builder.text_area :content, rows: 10, class: "form-control" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :exam_id, value: @exam.id %>
  <%= f.submit "Submit", id: "submit_answer_sheet", class: "btn btn-default btn-primary" %>
<% end %>