<% provide :title, @course.name %>
<div class="col-md-6">
  <div id="content">
    <h1><%= @course.name %></h1>
    <li class="list-group-item list-group-item-info">
      <%= @course.description %>
    </li></br>
    <%= link_to 'Edit description', edit_admin_course_path(@course),
      remote: true, class: "btn btn-warning" %>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-md-3">
    <h1>List choice questions</h1>
    <p>
      <%= link_to "Show course content", admin_course_path(@course) %>
    </p>
    <% @questions.each_with_index do |question, index| %>
      <li>
        <%= link_to "Question #{index+1}", admin_question_path(question), remote: true %>
        <%= link_to 'Destroy', admin_question_path(question),
          method: :delete, data:{confirm: 'Are you sure?'}, 
          class: "btn btn-xs btn-danger" %>
      </li>
    <% end %>
    </br>
    <%= link_to 'Add a choice question',
      new_admin_question_path(course_id: @course.id),
      remote: true, class: "btn btn-primary" %>
  </div>

  <div class="col-md-3">
    <h1>List text questions</h1>
    <% @course.text_questions.each_with_index do |text_question, index| %>
      <li>
        <%= link_to "Question #{index+1}", admin_text_question_path(text_question), remote: true %>
        <%= link_to 'Destroy', admin_text_question_path(text_question),
          method: :delete, data:{confirm: 'Are you sure?'}, 
          class: "btn btn-xs btn-danger" %>
      </li>
    <% end %>
    </br>
    <%= link_to 'Add a text question',
      new_admin_text_question_path(course_id: @course.id),
      remote: true, class: "btn btn-primary" %>
  </div>
</div>