<% provide :title, @course.name %>
<div class="col-md-8">
  <div id="content">
    <h1><%= @course.name %></h1>
    <li class="list-group-item list-group-item-info">
      <%= @course.description %>
    </li></br>
    <%= link_to 'Edit description', edit_admin_course_path(@course),
      remote: true, class: "btn btn-primary" %>
  </div>
</div>

<div class="form-horizontal">
  <div class="col-md-4">
    <h1>List questions</h1>
    <p>
      <%= link_to "Show course content", admin_course_path(@course), remote: true %>
    </p>
    <% @questions.each do |question| %>
      <p>
        <%= link_to question.id, admin_question_path(question), remote: true %>
        <%= link_to 'Destroy', admin_question_path(question),
          method: :delete, data:{confirm: 'Are you sure?'}, 
          class: "btn btn-xs btn-warning" %>
      </p>
    <% end %>
    <%= link_to 'Add a question',
      new_admin_question_path(course_id: @course.id),
      remote: true, class: "btn btn-primary" %>
  </div>
</div>