<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Examination System", root_path, id: "logo" %>
    <nav>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <% if current_user.is_admin? %>
            <%= link_to "User Manage", admin_users_path,
                class: 'navbar-link' %> |
            <%= link_to "Course Manage", admin_courses_path,
                class: 'navbar-link' %> |
          <% end %>
          <%= link_to "Course list", courses_path,
                class: 'navbar-link' %> |
          <%= link_to 'Edit profile', edit_user_registration_path,
                class: 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete,
                class: 'navbar-link' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path,
                class: 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
        <% end %>
    </nav>
  </div>
</header>